<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM8qwhFDNzlginZoBtLUAwXlq05FYpi-s</string>
	<key>GCM_SENDER_ID</key>
	<string>168711447115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omar.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-39703</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-39703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168711447115:ios:9f21375137803750d4a3ce</string>
</dict>
</plist>